aside.app-sidebar {
  /* position: fixed; */
  width: 100%;
  padding: 30px 24px;
  background: #a685e2;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

aside.app-sidebar footer a,
aside.app-sidebar footer button {
  width: 48px;
  height: 48px;

  border: 0;

  border-radius: 16px;

  cursor: pointer;

  transition: background-color 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;
}

aside.app-sidebar footer a:hover,
aside.app-sidebar footer button:hover {
  background: #17d6eb;
}
a h1{
  color: #fff;
}
.app-sidebar a:hover {
  color: #fff;
  text-decoration: none;
}
