* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #6155a6!important;
}

body,
input,
button,
select,
textarea {
  font: 600 18px Nunito, sans-serif;
}

.box {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  background: #ffffff;
  border: 1px solid #d3e2e5;
  border-radius: 20px;
  padding: 40px 25px;
  overflow: hidden;
}

.warning{
  background-color: #fff3cd;
  color: #856404;
  padding: 10px;
  border: 2px solid #ffeeba;
  border-radius: 10px;
}
input.form-movement {
  width: 6rem;
}
